# .github/workflows/build-and-push.yml

name: Build and Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21.4

    #   - name: Install swag
    #     run: go get -u github.com/swaggo/swag/cmd/swag

    #   - name: Generate Swagger documentation
    #     run: swag init

      - name: Build
        run: go build -o main

    #   - name: Test
    #     run: go test -v ./...

      - name: Docker Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t willfjr86/api-go:latest .
          docker tag willfjr86/api-go:latest willfjr86/api-go:$(date +'%Y%m%d%H%M%S')

      - name: Push Docker Image
        run: docker push willfjr86/api-go:latest
